
/* STYLING HEADER SECTION */
.header {
  text-align: center;
  border-bottom: 2px solid  #2c3e50;
  box-shadow: 0px 5px 10px 0px  #5499c7;
}
.header h4 {
margin-top: 10%;
}
/* STYLING HEADER SECTION */
.week_days {
  margin-top: 3%;
  border: 2px solid #2c3e50;
  box-sizing: border-box;
}
.week_days h5 {
  padding: 10px;
}
.week {
  margin-left: 20px;
  margin-bottom: : 20px;
}
.box{
  margin: auto;
}
h6{
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  opacity: 0.8;
}

.enterDates {
  margin-left: 3%;
  margin: auto;
  border: 2px solid #2c3e50;
  box-sizing: border-box;
}

input[type='date']{
  margin: 40px;
  margin-left: 1em;
  text-align: center;
  border-radius: 1px;
  opacity: inherit;
}
.label {
  margin-left: 6em;
}
.dates {
  margin-left: 40px;
}
/* colors for days  */
.red {
background-color:  #c0392b;
border: 1px solid;
position: relative;
box-sizing: border-box;
}
.blue {
  background-color:  #2e86c1;
  overflow: hidden;
  box-sizing: border-box;

}
.green {
  background-color: green;
}



@media (max-width: 768px){
  .label {
    margin-left: 40px;
  }
}
@media (max-width: 500px){
  .label {
    margin-left: 2px;
  }
 }
